body {
	text-align: center;
}


#nav-bar li {
	list-style-type: none;
	display: block;
	/*width: 100%;*/
	text-align: right;
	padding:.3em;

}


#tax{
	width: 3em;


}
.right {

	float: right;
}






.finished, .finished input{
	color: gray;
	cursor: pointer;
	background-color: orange;
	text-decoration: line-through;
}

.finished input{
	opacity: ;
	color: gray;
	cursor: pointer;
	background-color: orange;
}



#table-container {
	width: 80%;
	display: block;
	margin: 2em auto;
}


#list th{
	color:blue;
	background-color: cornflowerblue;
}

/*list item controls*/

/*cross off */

td:nth-child(1), #list th:nth-child(1), td:nth-child(7), #list th:nth-child(7) {
	background-color: white;
}

/*delete */
td:nth-child(6), th:nth-child(6)  {
	width: 5em;
}

.check-off {
	cursor: pointer;
}

.check-off:hover {
	color:forestgreen;
}

.delete {
	cursor: pointer;
}

.delete:hover {
	color: red;
}




/*list general item formatting */



td:nth-child(2), th:nth-child(2)  {
	width: 5em;
}

td:nth-child(3), th:nth-child(3)  {
	width: 5em;
}

td:nth-child(4), th:nth-child(4)  {
	width: 5em;
}

td:nth-child(5), th:nth-child(5)  {
	width: 5em;
}

td:nth-child(5), th:nth-child(5)  {
	width: 5em;
}



#list input{
	background-color: inherit;
	border: none;

}

input.symbol{
	width: 30%;
	text-align: right;
	margin-top: 2px;

}

input.moneyNumber {
	width: 60%;
	float: right;
	line-height: 160%;
	vertical-align: center;
	text-align: left;
}

input.itemName {
	width: 80%;
}




/*Color distraction */


svg {
  stroke: none;
  fill: none;
  display: none;
  position: absolute;
}

canvas {
  position: absolute;
  display: block;
  margin: -100px -100px;
  bottom: 30%;
  right: 30%;
}



-webkit-print-color-adjust: exact;
